async-timeout==3.0.0
certifi==2018.11.29
Django==2.1.5
django-cors-headers==2.4.0
djangorestframework==3.9.1
pipenv==2018.11.26
portpicker==1.2.0
protobuf==3.6.0
pytz==2018.9
s2clientprotocol==4.4.0.65895.0
sc2==0.8.4
virtualenv==16.3.0
virtualenv-clone==0.5.1
websockets==5.0.1
